############################################
# GATEWAY / AUTH
############################################
JWT_SECRET=your-jwt-secret-here
JWT_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:5173
NODE_ENV=development
GATEWAY_PORT=3000

############################################
# RABBITMQ
############################################
RMQ_URL=amqp://user:pass@localhost:5672/vhost
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=your-rabbitmq-user
RABBITMQ_PASS=your-rabbitmq-pass
RABBITMQ_VHOST=your-vhost

############################################
# MYSQL (orders, product, user, payments, rewards)
############################################
MYSQL_HOST=your-mysql-host
MYSQL_PORT=3306
MYSQL_DATABASE=your-database
MYSQL_USER=your-mysql-user
MYSQL_PASSWORD=your-mysql-password
MYSQL_POOL_SIZE=10

############################################
# POSTGRESQL (inventory)
############################################
PG_HOST=your-pg-host
PG_PORT=5432
PG_DATABASE=your-pg-database
PG_USERNAME=your-pg-user
PG_PASSWORD=your-pg-password
PG_POOL_SIZE=10

############################################
# PAYMENT
############################################
ZALOPAY_APP_ID=
ZALOPAY_KEY1=
ZALOPAY_KEY2=
ZALOPAY_ENDPOINT=https://sb-openapi.zalopay.vn/v2
ZALOPAY_REDIRECT_URL=http://localhost:3000/api/gateway/payment-result
PAYMENT_GATEWAY=zalopay
VNP_TMN_CODE=
VNP_HASH_SECRET=
VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_RETURN_URL=http://localhost:3000/api/gateway/payment-result
